@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/basics'; // Основные общие стили
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';
@import '../../node_modules/swiper/dist/css/swiper.css';

.container {
  width: $container-width;
  margin: 0 auto;
}

body {
  color: #464c4d;
  min-width: 850px;
}

.heading {

  &-main {
    font-size: 21px;
    line-height: 1.2em;
    font-weight: 300;
  }
}

.text {

  &-small {
    font-size: 12px;
    line-height: (16/12);
  }
}
