.tag {
  display: inline-block;
  font-size: 11px;
  line-height: 2;
  background-color: #babbbe;
  color: #fff;
  text-align: center;
  padding: 0 11px;
  border-radius: 22px;
  transition: all .25s ease-in-out;

  &:hover {
    background-color: darken(#babbbe, 15%);
  }
}

.tag-compilation {
  display: table;

  &__col {
    display: table-cell;
    vertical-align: middle;

    &:not(:last-child) { padding-right: 22px; }
  }

  &__title {
    font-family: $font-second;
    font-size: 12px;
    font-weight: 700;
  }

  &__tag {
    margin-top: 2px;
    margin-bottom: 2px;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}
