mixin tag(tag)
  +b.A.tag(href="#")&attributes(attributes)= tag

mixin tag-compilation()
  +b.tag-compilation&attributes(attributes)
    +e.col
      +e.SPAN.title Подойдет для:
    +e.col
      +tag('Кафе').__tag
      +tag('Ресторан').__tag
      +tag('Пиццерия').__tag
