.right-content {
  display: block;
  padding: 20px 25px;

  &__heading {
    text-align: left;
    margin-bottom: 15px;
  }
}

.playlist-info {
  padding: 25px;

  &__control {
    display: none;

    &:checked {

      & + .playlist-info__time-tag {
        color: #fff;
        background-color: $color-main;
      }

      &:hover {

        & + .playlist-info__time-tag {
          background-color: darken($color-main, 5%);
        }
      }
    }
  }

  &__no-playlist {
    margin-top: 70px;
  }

  &__heading {
    font-size: 21px;
    font-weight: 300;
    max-width: 170px;
    margin-bottom: 5px;
  }

  &__hint {
    font-size: 12px;
    margin-top: 20px;
  }

  &__tag-container {
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 20px;
  }

  &__name {
    font-family: $font-main;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    line-height: 2.15;
    width: 85%;
  }

  &__radio-wrap {
    text-align: center;
    display: inline-block;
    width: 25%;
    cursor: pointer;
  }

  &__time-tag {
    border-left: 1px solid #ededed;
    font-size: 12px;
    font-weight: 600;
    color: #5a607a;
    line-height: 2.5;
    display: block;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;

    &:hover {
      background-color: darken(#fff, 5%);
    }

    &_round {

      &_left {
        border-left: none;
        border-radius: 15px 0 0 15px;
      }

      &_right {
        border-radius: 0 15px 15px 0;
      }
    }
  }

  &__about {
    margin-top: 30px;
  }

  &__button {
    width: 100%;
    height: 36px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 3;
    text-transform: uppercase;
    margin-top: 20px;
  }

  &__playlist-scroll {
    margin-top: 20px;
  }
}

.playlist-inside {
  padding: 10px 25px;
  color: #292d33;

  &__title {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 300;
  }

  &__info {
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    max-width: 210px;
  }

  &__hint {
    color: #666970;
    font-size: 14px;
    margin-top: 65px;
    margin-left: 10px;
    font-weight: 600;
    max-width: 210px;
    text-align: center;
  }

  &__tracks {
    margin-top: 75px;
  }
}

.right-heading {
  padding: 15px 30px 15px 20px;
  border-bottom: 1px solid #dfdfdf;
  position: relative;

  &_border-dark {
    border-color: #babbbe;
  }

  &_playlist {
    padding: 20px 30px 15px 25px;
  }

  &__icon {
    vertical-align: middle;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .7;
    }
  }

  &__count {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: $color-main;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    top: 6px;
    left: 34px;
    text-align: center;
    line-height: 2.2;
  }

  &__text {
    vertical-align: middle;
    color: #292d33;
    margin-left: 22px;
    font-size: 12px;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .7;
    }
  }

  &__arrow {
    position: absolute;
    right: 22px;
    transform: translateY(-50%);
    top: 50%;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .7;
    }
  }
}

.right-actions {

  &__item {
    margin-right: 10px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;

    &:first-child {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #fff;
      background-color: $color-main;
    }
  }

  &__icon {
    font-size: 20px;
    line-height: 32px;
  }
}

.right-tracks {

  &__count, &__time {
    font-size: 12px;
    font-weight: 400;
  }

  &__time {
    float: right;

    @include clearfix;
  }

  &__tracks {
    margin-top: 20px;
    max-height: 120px;
    overflow-y: scroll;
    width: 106%;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-main;
    }
  }

  &__icon {
    cursor: pointer;
    color: #fff;
    display: block;
    width: 24px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    opacity: 0;
    transition: opacity .25s ease-in-out, color .25s ease-in-out;

    &:hover {
      color: #292d33;
    }
  }

  &__track {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $color-main;
      opacity: 0;
      transition: opacity .25s ease-in-out;
    }

    &:hover {

      &::after {
        opacity: .8;
      }

      .right-tracks__icon {
        opacity: 1;
      }
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  // &__overlay {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   background-color: #389bfe;
  //   opacity: 0;
  // }
}

.playlist-about {
  color: #292d33;
  font-size: 12px;
  font-weight: 400;

  &__item {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__value {
    font-weight: 600;

    &_bolder {
      font-weight: 700;
    }
  }
}

.no-playlist {
  text-align: center;
  color: #292d33;
  font-size: 18px;

  &__icon {
    margin-top: 15px;
  }

  &__bot-text {
    font-size: 14px;
    margin-top: 10px;
  }
}

.playlist-scroll {
  overflow-y: scroll;
  max-height: 195px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-main;
  }

  &__icon {
    transition: color .25s ease-in-out;
    line-height: 2.08;
  }

  &__icon-wrap {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: background-color .25s ease-in-out;
    text-align: center;
    display: inline-block;
    float: left;
  }

  &__item {
    padding: 7px 0;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;

    @include clearfix;

    &:hover {

      .playlist-scroll__icon-wrap {
        background-color: $color-main;
      }

      .playlist-scroll__icon {
        color: #fff;
      }
    }
  }

  &__text-wrap {
    display: inline-block;
    margin-left: 8px;
  }

  &__text-item {
    margin-top: 3px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__text {
    display: inline-block;
    font-size: 12px;
    color: #292d33;
    font-weight: 400;

    &_name {
      font-size: 14px;
      font-weight: 600;
    }

    &_value {
      font-weight: 700;
    }
  }
}
