mixin right-content()
  +b.right-content&attributes(attributes)
    block

mixin right-widget()
  .right-widget&attributes(attributes)
    block

mixin right-heading(type)
  if (type==='feed')
    +b.right-heading&attributes(attributes)
     +e.IMG(src='assets/images/calendar-icon.png').icon
     +e.SPAN.text Календарь
     +e.IMG(src='assets/images/arrow-right.png').arrow
  else
    +b.right-heading&attributes(attributes)._border-dark._playlist
      +e.IMG(src='assets/images/playlist-count.png').icon
      +e.SPAN.count 121
      +e.SPAN.text Плейлисты
      +e.IMG(src='assets/images/arrow-right.png').arrow
