extends ../../layouts/sitemap

mixin maplink(name, href)
  +e.A.link(href=href)= name
    span= href

block head
  - var pageTitle = 'Карта Сайта — Мубикон'

block content
  +b.sitemap
    +maplink("Каналы", "channels.html")
    +maplink("Каталог", "catalogue.html")
    +maplink("Аккаунт", "account.html")
