extends ../../layouts/sitemap

mixin maplink(name, href)
  +e.A.link(href=href)= name
    span= href

block head
  - var pageTitle = 'Карта Сайта — Мубикон'

block content
  +b.sitemap
    +maplink("account", "account.html")
    +maplink("catalog_podborki_grid", "catalog_podborki_grid.html")
    +maplink("catalog_tracks_grid", "catalog_tracks_grid.html")
    +maplink("catalog_tracks_list", "catalog_tracks_list.html")
    +maplink("catalog_tracks_table", "catalog_tracks_table.html")
    +maplink("channels", "channels.html")
    +maplink("feed", "feed.html")
    +maplink("playlist_about", "playlist_about.html")
    +maplink("playlist_all", "playlist_all.html")
    +maplink("playlist_all_empty", "playlist_all_empty.html")
    +maplink("playlist_create", "playlist_create.html")
    +maplink("playlist_in", "playlist_in.html")
    +maplink("playlist_in_empty", "playlist_in_empty.html")
