.button {
  display: inline-block;
  border-radius: 100px;
  cursor: pointer;
  white-space: nowrap;

  &_size {

    &_big {
      padding: 10px 16px 8px;
      line-height: 1.2em;
      font-size: 12px;
      font-weight: 700;
    }

    &_huge {
      padding: 12px 16px 10px;
      line-height: 1.2em;
      font-size: 12px;
      font-weight: 700;
    }
  }

  &_color {

    &_blue {
      background-color: $color-main;
      color: white;

      &:hover {
        background-color: #328ae3;
      }
    }

    &_dark-grey {
      background-color: #292d33;
      color: white;

      &:hover {
        background-color: #383d44;
      }
    }

    &_grey {
      background-color: #666970;
      color: #fff;

      &:hover {
        background-color: darken(#666970, 10%);
      }
    }

    &_light-grey {
      background-color: #babbbe;
      color: #fff;

      &:hover {
        background-color: darken(#babbbe, 10%);
      }
    }

    &_white {
      background-color: white;
      color: #515257;
      border: 1px solid #ececec;

      &:hover {
        color: $color-main;
      }
    }
  }

  &_weight {

    &_normal { font-weight: 400; }
  }

  &_radius {

    &_small { border-radius: 2px; }
  }
}
