.sidebar {
  display: block;
  width: 100px;
  height: 100%;
  position: fixed;
  z-index: 10;

  @include performance;

  &__logo {
    display: block;
    height: 90px;
    position: relative;
    background-color: #2d3039;

    &:hover img { opacity: .5; }

    img {
      transition: all .25s ease-in-out;

      @include center-image;
    }
  }
}
