mixin icon-menu()
  +b.UL.icon-menu&attributes(attributes)
    block
 
mixin icon-menu-icon(link, text, icon)
  - var myicon = icon
  +e.LI.item&attributes(attributes)
    +e.A.link(href=link)
      +e.I.icon.material-icon !{myicon}
      +e.SPAN.text= text
