mixin icon-menu()
  +b.UL.icon-menu&attributes(attributes)
    block
 
mixin icon-menu-icon(link, text, icon)
  +e.LI.item&attributes(attributes)
    +e.A.link(href=link)
      +e.icon
        img(src=icon)
      +e.SPAN.text= text
