mixin checkbox(name, value, checked)
  +b.LABEL.checkbox&attributes(attributes)
    +e.INPUT.input(type="checkbox" name=name, value=value, checked=checked)
    +e.SPAN.box.material-icon !{"&#xE5CA;"}
    +e.P.text.text-small
      block
