// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 100%; // Ширина контейнера контента
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками

// ##########
// Цвета
// ##########
$color-main: #389bfe; // Основной цвет сайта
$color-placeholder: #cdcdcd; // Основной цвет для placeholder
$color-input: #464c4d; // Основной цвет input, select и textarea
$color-darkmain: #328ae3;

// ##########
// Шрифты
// ##########
$font-main: 'Proxima Nova', Arial, sans-serif; // Основной шрифт сайта
$font-second: 'SFUI Display', Arial, sans-serif; // Дополнительный шрифт
