mixin compilation-inside()
  +b.compilation-inside&attributes(attributes)
    +e.image
      img(src="assets/images/album-3.jpg")
    +e.textblock
      +e.P.text._big._title На танцполе
      +e.P.text._medium._genre Жанр:
        b Lounge, Chillout
      +e.P.text Дата публикации:
        b 21.12.2016
      +e.P.text Продолжительность:
        b 2 часа 46 минут
      +e.P.text._inline Просмотров:
        b 3256
      +e.P.text._inline._left Треков:
        b 322
      +e.P.text Последние изменение:
        b 23 дня назад
