include ../checkbox/checkbox
include ../selectbox-link/selectbox-link
include ../filter-container/filter-container

mixin feed-control(create)
  +b.feed-control&attributes(attributes)
    +e.top-controls
      +selectbox-link.__selectbox(href="#filter1") Первая лента
      +b.feed-new.__new
        if create
          +e.FORM.create-form(action="#" method="post")
            +e.INPUT(type='text', placeholder='Введите название новой ленты').input
            +e.BUTTON(type='submit').submit OK
        else
          +e.BUTTON.add.material-icon !{"&#xE145;"}
    .filter-container__accordion#filter1
      a.filter-container__accordion-close.material-icon(href="#page") !{"&#xE5CD;"}
      +filter-label-nodelete('Первая лента').filter-container__label
      +filter-label-nodelete('Вторая лента').filter-container__label
      +filter-label-nodelete('Третья лента').filter-container__label
      +filter-label-nodelete('Четвертая лента').filter-container__label
    +e.checkbox-wrap
      +radio-checkbox('new-feed', 'Для выходных дней', true) Для выходных дней
      +radio-checkbox('new-feed', 'Для будней', false) Для будней
      +radio-checkbox('new-feed', 'Для определенного дня', false) Для определенного дня
