include ../checkbox/checkbox
include ../selectbox/selectbox
include ../filter-container/filter-container

mixin feed-control(create)
  +b.feed-control&attributes(attributes)
    +e.top-controls
      +filter-tape-container()
      //+selectbox('feedname').__selectbox
      //        option Первая лента
      //        option Вторая лента
      //        option Третья лента

      +b.feed-new.__new
        if create
          +e.FORM.create-form(action="#" method="post")
            +e.INPUT(type='text', placeholder='Введите название новой ленты').input
            +e.BUTTON(type='submit').submit OK
        else
          +e.BUTTON.add.material-icon !{"&#xE145;"}
    +e.checkbox-wrap
      +radio-checkbox('new-feed', 'Для выходных дней', true) Для выходных дней
      +radio-checkbox('new-feed', 'Для будней', false) Для будней
      +radio-checkbox('new-feed', 'Для определенного дня', false) Для определенного дня
