.feed-control {

  &__top-controls {
    width: 100%;
    position: relative;
    top: -7px;

    >* {
      margin-right: 10px;
      margin-bottom: 10px;
      vertical-align: top;
    }
  }

  &__selectbox .selectbox__select { min-width: 190px; }

  &__checkbox-wrap {
    margin-top: -17px;

    .checkbox {
      margin-top: 19px;
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 35px;
      }
    }
  }
}

.feed-new {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;

  &__input {
    padding: 0 21px;
    width: 265px;
    border-radius: 50px 0 0 50px;
    font-size: 12px;
    font-family: $font-main;
    height: 32px;
    line-height: 32px;

    &::placeholder { transition: color .25s ease-in-out; }

    &:focus::placeholder { color: transparent; }
  }

  &__submit {
    background-color: $color-main;
    font-family: $font-main;
    font-size: 12px;
    color: #fff;
    padding: 0 16px 0 12px;
    height: 32px;
    line-height: 32px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {
      background-color: darken($color-main, 10%);
    }
  }

  &__add {
    background-color: #fff;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .25s ease-in-out;
    font-size: 18px;
    color: #292d33;

    &:hover {
      color: #fff;
      background-color: $color-main;
    }
  }
}
