mixin faq-accordion()
  +b.faq-accordion&attributes(attributes)
    ul.accordion
      h3.title <span class="material-icon">!{"&#xE5D2;"}</span> Начало работы
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....

    ul.accordion
      h3.title <span class="material-icon">!{"&#xE5D2;"}</span> FAQ Advanced Topics
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....

    ul.accordion
      h3.title <span class="material-icon">!{"&#xE5D2;"}</span> New To WordPress
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
      li.accordion_item Какой принцип работы сервиса?
        p
          | Здесь размещаете любое содержание....
