.track-wrap {
  width: 20%;
  padding: 5px 8px;
  display: inline-block;
  vertical-align: top;

  @media (max-width: 1230px) {
    width: 25%;
  }

  @media (max-width: 1100px) {
    width: 33.333%;
  }
}

.tracks {
  margin: -5px -8px;

  @include clearfix;
}

.track {
  width: 100%;
  display: inline-block;
  position: relative;

  &:hover {

    &::after {
      opacity: 1;
    }

    .track__details {
      opacity: 1;
    }

    .track__control-icon_play {
      opacity: 1;
    }
  }

  &::after {
    content: '';
    background-color: rgba(41, 45, 51, .4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity .25s ease-in-out;
  }

  &__image-wrap {
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
  }

  &__image {
    @include fill-img;
  }

  &__description {
    padding: 7px 9px 7px;
    background-color: #fff;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #ececec;
  }

  &__text {
    color: #4a4b50;
    font-family: $font-second;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    display: block;

    &:not(:first-of-type) {
      margin-top: 5px;
    }

    &_semibold {
      font-weight: 600;
    }

    &_duration {
      position: relative;
      padding-left: 18px;
      margin-bottom: -3px;

      .material-icon {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    &_color {

      &_white {
        color: #fff;
      }

      &_grey {
        color: #444;
      }
    }
  }

  &__duration-icon {
    font-size: 13px;
    vertical-align: bottom;
    margin-right: 5px;
  }

  &__details {
    @include clearfix;

    padding: 7px 9px 7px;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    z-index: 3;
    background-color: #272c36;
    transition: opacity .25s ease-in-out;
    color: #fff;

    .track__text { @include ellipsis(100%); }
  }

  &__control-icon {
    cursor: pointer;
    transition: all .25s ease-in-out;

    &_play {
      @include center-image;
      width: 50px;
      height: 50px;
      color: $color-main;
      font-size: 50px;
      z-index: 3;
      opacity: 0;

      &:hover {
        color: #f7f7f7;
      }
    }

    &_add {
      font-size: 19px;
      position: absolute;
      top: 0;

      &:hover { color: $color-main; }
    }

    &_delete {
      font-size: 19px;
      position: absolute;
      top: 0;
      display: none;

      &:hover { color: $color-main; }
    }
  }

  &__star-icon {
    display: inline-block;

    &_active {
      color: $color-main;
    }
  }

  &__rating {
    display: block;
    padding-right: 38px;
    margin-bottom: 13px;
  }

  &__playlist-controls {
    position: absolute;
    top: 6px;
    right: 4px;
    width: 19px;
    height: 19px;
  }

  &__star-icon {
    font-size: 15px;
  }
}
