include ../rating/rating

mixin track()
  +b.track&attributes(attributes)
    +e.image-wrap
      +e.image(src='assets/images/track-1.jpg')
      +e.A.control-icon._play.material-icon !{"&#xE039;"}
    +e.description
      +e.SPAN.text._name Let’s Rock or Fuck mind of Designers
      +e.SPAN.text._semibold._color_grey Jhon Travolta
    +e.details
      +rating-stars().__rating
      +e.playlist-controls
        +e.A.control-icon._add.material-icon(href="#") !{"&#xE03B;"}
        +e.A.control-icon._delete.material-icon(href="#") !{"&#xE16C;"}
      +e.SPAN.text._semibold._color_white._duration
        +e.I.duration-icon.material-icon !{"&#xE192;"}
        | 04:20
      +e.SPAN.text._semibold._color_white Instrumental
      +e.SPAN.text._semibold._color_white Jhon Travolta
