.catalogue {
  display: block;
  position: relative;

  .card {

    &__rating {
      margin-top: 10px;
    }
  }

  &__track {
    margin-top: 16px;
  }

  &__table {
    margin-top: 20px;
  }

  &__compilation-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__tags {
    margin-top: 20px;
  }

  &__compilation-controls {
    margin-top: 15px;
  }

  &__table {
    margin-top: 12px;
  }
}
