extends ../../layouts/default
include ../../components/sidebar/sidebar
include ../../components/header/header
include ../../components/right-header/right-header
include ../../blocks/icon-menu/icon-menu
include ../../blocks/player/player
include ../../blocks/right-content/right-content
include ../../components/sliders/sliders

block head
  - var pageTitle = 'Каталог — Мубикон'

block sidebar
  +sidebar
    +icon-menu.__menu
      +icon-menu-icon("#", "Трэки", "&#xE05F;")
      +icon-menu-icon("#", "Подборки", "&#xE065;").active
      +icon-menu-icon("#", "Лента", "&#xE16D;")
      +icon-menu-icon("#", "Каналы", "&#xE8BF;")
      +icon-menu-icon("#", "Помощь", "&#xE8FD;")

block header
  +header
    +player()._pause
      +player-image("assets/images/album-small-2.jpg")
      +player-content
        +player-info("Let’s dance - Jon Travolta")
          +player-list-control()
        +player-timer()
        +player-equalizer()

block content
  +b.catalogue
    h1.layout__heading.heading-main Подборки
    +catalogue-slider()

block right
  +right-header
  +right-heading()
  +playlist-info()
    +e.H3.heading Плейлисты
    +e.P.hint Выберите плейлист, в который собираетесь добавлять музыкальные композиции.<br> Для добавления выберите трек и нажмите на иконку добавления в плейлист или перетащите композицию в правую область.
    +no-playlist().__no-playlist
