extends ../../layouts/default
include ../../components/sidebar/sidebar
include ../../components/header/header
include ../../components/right-header/right-header
include ../../blocks/icon-menu/icon-menu
include ../../blocks/player/player
include ../../blocks/right-content/right-content
include ../../blocks/tracks/track-table
include ../../blocks/view-toggler/view-toggler
include ../../blocks/rate-card/rate-card
include ../../blocks/compilation-inside/compilation-inside
include ../../blocks/tag/tag
include ../../blocks/compilation-inside/compilation-control

block head
  - var pageTitle = 'Каталог — Мубикон'

block sidebar
  +sidebar
    +icon-menu.__menu
      +icon-menu-icon("#", "Трэки", "&#xE05F;")
      +icon-menu-icon("#", "Подборки", "&#xE065;").active
      +icon-menu-icon("#", "Лента", "&#xE16D;")
      +icon-menu-icon("#", "Каналы", "&#xE8BF;")
      +icon-menu-icon("#", "Помощь", "&#xE8FD;")

block header
  +header
    +player()._pause
      +player-image("assets/images/album-small-2.jpg")
      +player-content
        +player-info("Let’s dance - Jon Travolta")
          +player-list-control()
        +player-timer()
        +player-equalizer()

block content
  +b.catalogue
    +compilation-inside()
      +compilation-right().__compilation-right
    +tag-compilation.__tags
    +compilation-control().__compilation-controls
    +track-table().__table


block right
  +right-header
  +right-heading()
  +b.playlist-inside
    +right-actions()
    +e.H3.title Плейлист на утро
    +e.P.info Перетаскиваете треки и выставляйте порядок воспроизведения треков в плейлисте.
    +e.P.hint Перетащите треки из каталога или нажмите у трека в каталоге добавить в плейлист
