.layout {
  display: flex;
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 90px;
    background-color: #2d3039;
    z-index: 1;
  }

  &__left-side {
    width: 100px;
    display: flex;
    background-color: #ededed;
  }

  &__center {
    flex: 1;
    background-color: #f7f7f7;
    overflow: hidden;
  }

  &__header {
    height: 90px;
    background-color: #2d3039;
  }

  &__content { padding: 20px 35px; }

  &__right-side {
    background-color: #ededed;
    width: 280px;
  }

  &__right-block {
    width: 280px;
    height: 100%;
    position: fixed;
    z-index: 10;
  }

  &__heading {
    text-align: right;
    margin-bottom: 15px;

    &_left { text-align: left; }
  }
}
