mixin layout()
  +b.layout&attributes(attributes)
    +e.ASIDE.left-side
      block sidebar
    +e.center
      +e.HEADER.header
        block header
      +e.MAIN.content
        block content
    +e.ASIDE.right-side
      block right
