extends ../../layouts/help
include ../../components/sidebar/sidebar
include ../../components/header/header
include ../../components/right-header/right-header
include ../../blocks/icon-menu/icon-menu
include ../../blocks/player/player
include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/right-content/right-content
include ../../components/sliders/sliders
include ../../blocks/big-page-header/big-page-header
include ../../blocks/accordion/accordion

block head
  - var pageTitle = 'Помощь — Мубикон'

block sidebar
  +sidebar
    +icon-menu.__menu
      +icon-menu-icon("#", "Трэки", "&#xE05F;")
      +icon-menu-icon("#", "Подборки", "&#xE065;")
      +icon-menu-icon("#", "Лента", "&#xE16D;")
      +icon-menu-icon("#", "Каналы", "&#xE8BF;")
      +icon-menu-icon("#", "Помощь", "&#xE8FD;").active

block header
  +header
    +player()._pause
      +player-image("assets/images/album-small-2.jpg")
      +player-content
        +player-info("Let’s dance - Jon Travolta")
          +player-list-control()
        +player-timer()
        +player-equalizer()

block content
  +b.SECTION.help
    +big-page-header.layout__content.__header
      h1.heading-main Создайте тикет, задайте свой вопрос
      +b.FORM.help__form(method="post" target="#")
        +input.__input(placeholder="Введите Ваш вопрос")
        +e.button-col
          +button('button')(type='submit')._color_blue._size_big.__send
            +e.I.icon.material-icon !{'&#xE0E1;'}
            span Отправить
    main.layout__content
      - for (var i = 0; i < 3; i++)
        +accordion
          +accordion-header('Начало работы', '&#xE5D2;')
          +accordion-items
            +accordion-item
              +accordion-item-title Какой принцип работы сервиса?
              +accordion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias atque debitis dignissimos dolorem doloribus dolorum eius est et, inventore ipsum laudantium natus nemo nulla numquam obcaecati odio, odit perspiciatis quas qui quis quod repellendus sunt velit vero, voluptatem voluptatum. Accusamus culpa delectus dolore dolores enim error eum expedita fuga id ipsa molestiae nemo nulla pariatur perferendis placeat quasi saepe sunt tempore ullam veniam vero, vitae voluptas voluptatum. Ad aliquid amet architecto asperiores aspernatur at cupiditate dicta dolore dolorem doloribus ea eaque eligendi explicabo itaque iure laborum laudantium nisi nulla officiis omnis perspiciatis quas qui, rem totam ullam vel voluptates.
            +accordion-item
              +accordion-item-title Как запустить фоновую музыку за 10 минут?
              +accordion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias atque debitis dignissimos dolorem doloribus dolorum eius est et, inventore ipsum laudantium natus nemo nulla numquam obcaecati odio, odit perspiciatis quas qui quis quod repellendus sunt velit vero, voluptatem voluptatum. Accusamus culpa delectus dolore dolores enim error eum expedita fuga id ipsa molestiae nemo nulla pariatur perferendis placeat quasi saepe sunt tempore ullam veniam vero, vitae voluptas voluptatum. Ad aliquid amet architecto asperiores aspernatur at cupiditate dicta dolore dolorem doloribus ea eaque eligendi explicabo itaque iure laborum laudantium nisi nulla officiis omnis perspiciatis quas qui, rem totam ullam vel voluptates.
            +accordion-item
              +accordion-item-title Как создать плейлист?
              +accordion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias atque debitis dignissimos dolorem doloribus dolorum eius est et, inventore ipsum laudantium natus nemo nulla numquam obcaecati odio, odit perspiciatis quas qui quis quod repellendus sunt velit vero, voluptatem voluptatum. Accusamus culpa delectus dolore dolores enim error eum expedita fuga id ipsa molestiae nemo nulla pariatur perferendis placeat quasi saepe sunt tempore ullam veniam vero, vitae voluptas voluptatum. Ad aliquid amet architecto asperiores aspernatur at cupiditate dicta dolore dolorem doloribus ea eaque eligendi explicabo itaque iure laborum laudantium nisi nulla officiis omnis perspiciatis quas qui, rem totam ullam vel voluptates.
            +accordion-item
              +accordion-item-title Как использовать готовую подборку в качестве основы для составления плейлиста?
              +accordion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias atque debitis dignissimos dolorem doloribus dolorum eius est et, inventore ipsum laudantium natus nemo nulla numquam obcaecati odio, odit perspiciatis quas qui quis quod repellendus sunt velit vero, voluptatem voluptatum. Accusamus culpa delectus dolore dolores enim error eum expedita fuga id ipsa molestiae nemo nulla pariatur perferendis placeat quasi saepe sunt tempore ullam veniam vero, vitae voluptas voluptatum. Ad aliquid amet architecto asperiores aspernatur at cupiditate dicta dolore dolorem doloribus ea eaque eligendi explicabo itaque iure laborum laudantium nisi nulla officiis omnis perspiciatis quas qui, rem totam ullam vel voluptates.
            +accordion-item
              +accordion-item-title Что такое лента?
              +accordion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias atque debitis dignissimos dolorem doloribus dolorum eius est et, inventore ipsum laudantium natus nemo nulla numquam obcaecati odio, odit perspiciatis quas qui quis quod repellendus sunt velit vero, voluptatem voluptatum. Accusamus culpa delectus dolore dolores enim error eum expedita fuga id ipsa molestiae nemo nulla pariatur perferendis placeat quasi saepe sunt tempore ullam veniam vero, vitae voluptas voluptatum. Ad aliquid amet architecto asperiores aspernatur at cupiditate dicta dolore dolorem doloribus ea eaque eligendi explicabo itaque iure laborum laudantium nisi nulla officiis omnis perspiciatis quas qui, rem totam ullam vel voluptates.
            +accordion-item
              +accordion-item-title Как в ленте настроить расписание на месяц за 20 минут?
              +accordion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias atque debitis dignissimos dolorem doloribus dolorum eius est et, inventore ipsum laudantium natus nemo nulla numquam obcaecati odio, odit perspiciatis quas qui quis quod repellendus sunt velit vero, voluptatem voluptatum. Accusamus culpa delectus dolore dolores enim error eum expedita fuga id ipsa molestiae nemo nulla pariatur perferendis placeat quasi saepe sunt tempore ullam veniam vero, vitae voluptas voluptatum. Ad aliquid amet architecto asperiores aspernatur at cupiditate dicta dolore dolorem doloribus ea eaque eligendi explicabo itaque iure laborum laudantium nisi nulla officiis omnis perspiciatis quas qui, rem totam ullam vel voluptates.

block right
  +right-header
  +right-help-heading
  +playlist-info()
    +e.P.hint.nomargintop Внимательно ознакомьтесь с ответами на вопросы, которые могут возникнуть при работе с сервисом. Сообщение будет адресовано в нужный отдел. Специалист компании свяжестя по Вашему административному электронному адресу, который был указан при подключении.
