.filter-container {
  background-color: #fff;
  padding: 5px 10px 0px;
  position: relative;
  border-radius: 5px;

  &__top-table {
    display: table;
    padding-right: 95px;

    &-col {
      display: inline-block;
      vertical-align: middle;

      &:not(:last-child) { padding-right: 65px; }
    }
  }

  &__accordions {
    margin-top: 10px;
  }

  &__accordion {
    position: relative;
    padding-right: 40px;
    overflow: hidden;
    max-height: 0;
    transition: all .7s ease-in-out;

    @include performance;

    &::before {
      @include pseudo;
      border-top: 1px solid #ececec;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    &::after {
      @include pseudo;
      position: static;
      width: 100%;
      padding-bottom: 13px;
    }

    &.active { max-height: 80px; }
  }

  &__accordion-close {
    position: absolute;
    text-align: right;
    width: 24px;
    height: 24px;
    top: 5px;
    right: -5px;
    cursor: pointer;
    color: #2d3039;
    transition: all .25s ease-in-out;

    &:hover { color: $color-main; }
  }

  &__toggler {
    position: absolute;
    right: 10px;
    top: 4px;
    color: #2d3039;
  }

  &__name {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
  }

  &__item {

    &:not(:last-child) { margin-right: 24px; }
  }

  &__labels {
    margin-top: 6px;
  }

  &__label {
    margin-top: 10px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.filter-item {
  font-size: 12px;
  color: #292d33;
  transition: color .25s ease-in-out;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;

  &.active .filter-item__icon { transform: rotate(180deg); }

  &:hover {
    color: lighten(#292d33, 40%);
  }

  &__text {
    font-weight: 600;
    vertical-align: middle;
    font-size: 12px;
  }

  &__icon {
    transition: all .45s ease-in-out;
    vertical-align: middle;

    @include performance;
  }
}

.filter-label {
  height: 22px;
  display: inline-block;
  background-color: #292d33;
  color: #fff;
  padding: 0 30px 0 15px;
  border-radius: 11px;
  position: relative;
  min-width: 85px;

  &_nodelete {
    padding-right: 15px;
    min-width: 0;
    cursor: pointer;

    &:hover {
      background-color: lighten(#292d33, 20%);
    }
  }

  &_sort {
    background-color: $color-main;
    transition: background-color .25s ease-in-out;
    padding-right: 40px;

    &:hover {
      background-color: darken($color-main, 10%);
    }
  }

  &_down {

    .filter-label__icon_arrow_up {
      opacity: 0 !important;
      z-index: 0;
    }
  }

  &_up {

    .filter-label__icon_arrow_down {
      opacity: 0 !important;
      z-index: 0;
    }
  }

  &__text {
    font-size: 11px;
    line-height: 2;
    font-weight: 500;
  }

  &__icon {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    transition: opacity .25s ease-in-out;

    &_close {
      position: absolute;
      right: 7px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 14px;
      width: 14px;
    }

    &:hover {
      opacity: .7;
    }

    &_arrow_up, &_arrow_down {
      position: absolute;
      right: 22px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 14px;
      width: 14px;
      z-index: 1;
    }
  }
}
