.feed {
  display: block;
  position: relative;

  &__playlists {
    margin-top: 50px;
  }

  &__playlist {

    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  &__feed-control {
    position: absolute;
    left: 0;
    top: -6px;
  }
}
