.feed {
  display: block;
  position: relative;

  &__playlists {
    margin-top: 19px;
  }

  &__playlist {

    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  &__top-columns {
    display: table;
    width: 100%;

    &-col {
      display: table-cell;

      &:not(:first-child) { padding-left: 20px; }
    }
  }
}
