mixin player()
  +b.player&attributes(attributes)
    block
      
mixin player-image(src)
  +e.A.image(href="#")&attributes(attributes)
    img(src=src)

mixin player-content()
  +e.content&attributes(attributes)
    block
      
mixin player-info(name, style)
  +e.info&attributes(attributes)
    +e.controls
      +e.I.control-icon._pause.material-icon !{"&#xE036;"}
      +e.I.control-icon._play.material-icon !{"&#xE039;"}
    +e.SPAN.name
      if style
        +e.B.style= style
      =name
    block

mixin player-list-control()
  +e.list-controls&attributes(attributes)
    +e.I.list-add.material-icon !{"&#xE03B;"}

mixin player-timer()
  +e.timer&attributes(attributes) -4:31

mixin player-equalizer()
  +e.equalizer&attributes(attributes)
    img(src="assets/images/player-equalizer.png")

mixin player-waves()
  +e.waves&attributes(attributes)
    canvas#b
    canvas#d
