%equalizer-style {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.player {
  display: flex;
  width: 100%;

  &_pause .player {
    &__control-icon_play { opacity: 0; }
    &__control-icon_pause { opacity: 1; }
  }

  &__image {
    width: 90px;
    overflow: hidden;
    position: relative;
    transition: all .25s ease-in-out;

    &:hover { opacity: .7; }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-main;
      opacity: .7;
      z-index: 2;
      width: 100%;
      height: 100%;
    }

    img {
      @include fill-img;
    }
  }

  &__content {
    position: relative;
    flex: 1;
  }

  &__info {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
  }

  &__controls {
    width: 18px;
    height: 18px;
    position: relative;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover { opacity: .5; }
  }

  &__control-icon {
    transition: all .25s ease-in-out;

    &_play { opacity: 1; }

    &_pause { opacity: 0; }

    @include center-image;
  }

  &__waves {
    @extend %equalizer-style;

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: .7;
    }
  }

  &__equalizer {
    @extend %equalizer-style;

    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__name {
    line-height: 1.2;
    font-size: 12px;
    color: white;

    &:not(:first-child) { margin-left: 11px; }
  }

  &__list-controls {
    margin-left: 22px;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover { opacity: .5; }
  }

  &__timer {
    line-height: 1.2;
    font-size: 12px;
    color: white;
    position: absolute;
    top: 13px;
    right: 20px;
  }

  &__style {
    margin-right: 10px;
    font-weight: 700;
  }
}
