.accordion {
  display: block;

  &:not(:first-child) {
    margin-top: 30px;
  }

  &:last-child {
    padding-bottom: 30px;
  }

  &__header {
    padding: 15px 0;
    display: table;
    width: 100%;
    border-bottom: 1px dotted #e4e4e4;
  }

  &__heading {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
  }

  &__icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    font-size: 14px;
    padding-left: 9px;
  }

  &__item {
    cursor: pointer;
    border-bottom: 1px dotted #e4e4e4;

    &.active .accordion__title {
      margin-top: 10px;
      font-size: 20px;
      font-weight: 600;
    }

    &.active:hover {
      .accordion__title { color: #464c4d; }
    }

    &:hover {
      .accordion__title { color: lighten($color-input, 30%); }
    }
  }

  &__title {
    position: relative;
    font-size: 14px;
    padding-left: 38px;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: all .25s ease-in-out;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-main;
      left: 16px;
      top: 50%;
      margin-top: -2px;
      transition: all .25s ease-in-out;
    }
  }

  &__content {
    display: none;
    padding-top: 0px;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 38px;
    color: #888;
  }
}
