.rating {
  display: block;
  text-align: center;
  padding: 5px 10px 3px;
  background-color: rgba($color-main, .8);
  color: white;

  &__icon {
    display: inline-block;
    width: 24px;
  }

  &__count {
    display: block;
    font-size: 14px;
    font-weight: 700;

    &:not(:nth-of-type(1)) { margin-top: 5px; }
  }

  &_position_top {
    border-radius: 0 0 9px 9px;
  }

  &_rounded {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

.rating-stars {
  display: block;

  &__star-icon {
    font-size: 15px;

    &_active {
      color: $color-main;
    }
  }
}
