.right-header {
  display: flex;
  height: 90px;
  width: 100%;
  background-color: #2d3039;
  justify-content: flex-end;

  &__menu {
    .icon-menu__item, .icon-menu__link, & {height: 100%;}

    .icon-menu__link {
      padding-right: 27px;
      padding-left: 27px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .icon-menu__icon {
      height: 28px;
    }
  }
}
