extends ../../layouts/default
include ../../components/sidebar/sidebar
include ../../components/header/header
include ../../components/right-header/right-header
include ../../blocks/icon-menu/icon-menu
include ../../blocks/player/player

block head
  - var pageTitle = 'Каналы — Мубикон'

block sidebar
  +sidebar
    +icon-menu.__menu
      +icon-menu-icon("#", "Каталог", "assets/images/icon-sidebar-1.png")
      +icon-menu-icon("#", "Трэки", "assets/images/icon-sidebar-2.png")
      +icon-menu-icon("#", "Подборки", "assets/images/icon-sidebar-3.png")
      +icon-menu-icon("#", "Трансляция", "assets/images/icon-sidebar-4.png")
      +icon-menu-icon("#", "Каналы", "assets/images/icon-sidebar-5.png").active
      +icon-menu-icon("#", "Помощь", "assets/images/icon-sidebar-6.png")

block header
  +header
    +player._pause
      +player-image("assets/images/album-small-1.jpg")
      +player-content
        +player-info("Жанр: Soul", "Легкая музыка")
        +player-waves
  
block content
  +b.channels
  
block right
  +right-header
