extends ../../layouts/default
include ../../components/sidebar/sidebar
include ../../components/header/header
include ../../components/right-header/right-header
include ../../blocks/icon-menu/icon-menu
include ../../blocks/player/player
include ../../components/sliders/sliders

block head
  - var pageTitle = 'Каналы — Мубикон'

block sidebar
  +sidebar
    +icon-menu.__menu
      +icon-menu-icon("#", "Каталог", "&#xE03D;")
      +icon-menu-icon("#", "Трэки", "&#xE05F;")
      +icon-menu-icon("#", "Подборки", "&#xE065;")
      +icon-menu-icon("#", "Трансляция", "&#xE16D;")
      +icon-menu-icon("#", "Каналы", "&#xE8BF;").active
      +icon-menu-icon("#", "Помощь", "&#xE8FD;")

block header
  +header
    +player._pause
      +player-image("assets/images/album-small-1.jpg")
      +player-content
        +player-info("Жанр: Soul", "Легкая музыка")
        +player-waves

block content
  +b.channels
    h1.layout__heading.heading-main Каналы
    +channels-slider()

block right
  +right-header
  +right-content
    h1.heading-main.right-content__heading Каналы
    p.text-small Каналы - это прямая трансляция. Мы специально разбили по тематикам, чтобы Вы могли легко разобраться.
