extends ../../layouts/default
include ../../components/sidebar/sidebar
include ../../components/header/header
include ../../components/right-header/right-header
include ../../blocks/icon-menu/icon-menu
include ../../blocks/player/player
include ../../blocks/button/button
include ../../blocks/card/card
include ../../blocks/slider/slider

block head
  - var pageTitle = 'Каналы — Мубикон'

block sidebar
  +sidebar
    +icon-menu.__menu
      +icon-menu-icon("#", "Каталог", "&#xE03D;")
      +icon-menu-icon("#", "Трэки", "&#xE05F;")
      +icon-menu-icon("#", "Подборки", "&#xE065;")
      +icon-menu-icon("#", "Трансляция", "&#xE16D;")
      +icon-menu-icon("#", "Каналы", "&#xE8BF;").active
      +icon-menu-icon("#", "Помощь", "&#xE8FD;")

block header
  +header
    +player._pause
      +player-image("assets/images/album-small-1.jpg")
      +player-content
        +player-info("Жанр: Soul", "Легкая музыка")
        +player-waves
  
block content
  +b.channels
    h1.layout__heading.heading-main Каналы
    +slider
      +slider-slide
        +grid.__grid
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-1.jpg")
            +card._size_four
              +button._color_dark-grey._size_big.__button(href="#") ИДЕТ ТРАНСЛЯЦИЯ
              +card-gradient
          +col(8)
            +card._size_eight
              +card-texts("Джаз для ресторана", "Жанр: Jazz")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-3.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Instrumental")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-2.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-4.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-5.jpg")
      +slider-slide
        +grid.__grid
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-1.jpg")
            +card._size_four
              +button._color_dark-grey._size_big.__button(href="#") ИДЕТ ТРАНСЛЯЦИЯ
              +card-gradient
          +col(8)
            +card._size_eight
              +card-texts("Джаз для ресторана", "Жанр: Jazz")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-3.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Instrumental")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-2.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-4.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-5.jpg")
      +slider-slide
        +grid.__grid
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-1.jpg")
            +card._size_four
              +button._color_dark-grey._size_big.__button(href="#") ИДЕТ ТРАНСЛЯЦИЯ
              +card-gradient
          +col(8)
            +card._size_eight
              +card-texts("Джаз для ресторана", "Жанр: Jazz")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-3.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Instrumental")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-2.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-4.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-5.jpg")
      +slider-slide
        +grid.__grid
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-1.jpg")
            +card._size_four
              +button._color_dark-grey._size_big.__button(href="#") ИДЕТ ТРАНСЛЯЦИЯ
              +card-gradient
          +col(8)
            +card._size_eight
              +card-texts("Джаз для ресторана", "Жанр: Jazz")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-3.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Instrumental")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-2.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-4.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-5.jpg")
      +slider-slide
        +grid.__grid
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-1.jpg")
            +card._size_four
              +button._color_dark-grey._size_big.__button(href="#") ИДЕТ ТРАНСЛЯЦИЯ
              +card-gradient
          +col(8)
            +card._size_eight
              +card-texts("Джаз для ресторана", "Жанр: Jazz")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-3.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Instrumental")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-2.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-4.jpg")
          +col(4)
            +card._size_four
              +card-texts("Релакс", "Жанр: Lounge")
              +rating._position_top.__rating 4,5
              +reposts.__reposts 345
              +button._color_blue._size_big.__button(href="#") ТРАНСЛИРОВАТЬ
              +card-image("assets/images/album-5.jpg")
  
  
block right
  +right-header
  +right-content
    h1.heading-main.right-content__heading Каналы
    p.text-small Каналы - это прямая трансляция. Мы специально разбили по тематикам, чтобы Вы могли легко разобраться.
